@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #a8dadc, #ffb6b9); 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #333;
}

.quiz-container {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  padding: 35px;
  max-width: 800px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.foto-chiquita {
  margin: 10px 10px 10px;
  width: 110px; 
  height: auto; 
  position: absolute;
}

/* Encabezados */

h1 {
  font-size: 28px;
  color: white;
  background: linear-gradient(135deg, #0077b6, #00b4d8); 
  padding: 20px;
  border-radius: 8px; 
  display: inline-block; 
}



h2 {
  color: #ff6f61; 
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 28px;
}

.question-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.question-form label {
  font-size: 16px;
  font-weight: 500;
  color: #7f8c8d;
  text-transform: capitalize;
}

.question-form input {
  padding: 12px;
  border: 2px solid #b3cde0; 
  border-radius: 12px;
  font-size: 14px;
  width: 50%; 
  max-width: 100%;
  transition: border-color 0.3s ease;
}

.question-form input:hover,
.question-form input:focus {
  border-color: #f7a1c1; 
  outline: none;
}

button {
  background: #f7a1c1; 
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  width: 100%;
  max-width: 250px;
  transition: all 0.3s ease;
  margin-top: 15px;
}

button:hover {
  background-color: #ff6f61; 
}

.answer-container {
  display: flex;
  align-items: center;
  width: 50%; 
  gap: 10px;
  margin-bottom: 10px;
}

#options-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

#options-list li {
  padding: 12px;
  margin: 8px 0;
  background: #f2d1d1;
  border: 2px solid #f7a1c1; 
  border-radius: 12px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#options-list li:hover {
  background-color: #f7a1c1;
  transform: scale(1.05);
}

#options-list li.selected {
  background-color: #a8dadc; 
  color: white;
  transform: scale(1.05);
}

button#check-answer-btn,
button#shuffle-options-btn {
  background: #a8dadc; 
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  margin-top: 20px;
  width: 100%;
  max-width: 250px;
  transition: all 0.3s ease;
}

button#check-answer-btn:hover,
button#shuffle-options-btn:hover {
  background-color: #76b6b1;
}

#display-question {
  font-size: 20px;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
}

.cntr {
  position: relative;
}

.cntr input[type="radio"] {
  display: none; 
}

.cntr label.cbx {
  position: relative;
  width: 25px;
  height: 25px;
  border: 1px solid #c8ccd4;
  border-radius: 10%;
  transition: background 0.1s ease;
  cursor: pointer;
  display: block;
}

.cntr label.cbx:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 8px;
  width: 7px;
  height: 14px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

.cntr input[type="radio"]:checked ~ label.cbx {
  border-color: transparent;
  background: #6871f1;
  animation: jelly 0.6s ease;
}

.cntr input[type="radio"]:checked ~ label.cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}



/* Añadir una transición suave a la visibilidad y opacidad */
.quiz-display {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}


.quiz-display.show {
  opacity: 1;
  visibility: visible;
}




